.result-container{
	text-align: center;
	font-size: 0.9rem;
	overflow: auto;
	padding:0;
}

.result-container ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.place {
    margin: 0.8em auto;
	display: block;
    background-color: #222;
    color: #fff;
    border: none;
    width: 90%;
    height: 3em;
    cursor: pointer;
}

.place:hover,
.place:focus {
	background-color: #000;
	cursor: pointer;
	color:#d00600;
}

.no-result {
	color:#888;
}


/* Media Query for Responsiveness*/
@media all and (max-width: 925px) and (min-width: 769px) {
	.result-container {
		font-size: 0.85rem;
	}
}
