.result-container{
	text-align: center;
	font-size: 0.9rem;
	overflow: auto;
	padding: 0.7em;
}

.result-container ul{
	list-style: none;
	margin: 0;
	padding: 0;

}

.place {
	height: auto;
    display: block;
    margin: 0.7em;
    cursor: pointer;
    background-color: #222;
    color: #fff;
    line-height: 3em;
    padding: 0.2em;

}

.place:hover {
	background-color: #000;
	cursor: pointer;
}

.no-result {
	color:#000;
}


/* Media Query for Responsiveness*/
@media all and (max-width: 925px) and (min-width: 769px) {
	.result-container {
		font-size: 0.85rem;
	}
}
