header {
    display: flex;
    height: 3.6em;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.toggle-btn-container {
    width: 35%;
    text-align: right;
}

.toggle-btn {
    background-color: #000;
    padding: 0.313em;
    cursor: pointer;
    color: #d00600;
    border: 0.04em solid #d00600;
    border-radius: 0.313em;
    width: 2em;
    height: 2em;
}

.toggle-btn:hover,
.toggle-btn:focus{
    background-color: #080808;
    color: #960400;
    border: 0.04em solid #960400;
}

.page-header {
    font-size: 1.2rem;
    width: 65%;
    text-align: center;
    font-weight: 400;
}


/* Media Query for Responsiveness*/
@media all and (max-width: 768px) and (min-width: 426px) {
    .page-header {
        width:85%;
    }

    .toggle-btn-container {
        text-align: center;
        width: 15%;
    }
}


@media all and (max-width: 425px) and (min-width: 376px) {
    .page-header {
        font-size: 1rem;
        width: 80%;
    }

    .toggle-btn-container {
        width: 20%;
    }
}


@media all and (max-width: 375px) {
    .page-header {
        font-size: 1rem;
        width: 85%;
    }

    .toggle-btn-container {
        width: 15%;
    }

    .toggle-btn {
        font-size: 1.1rem;
    }
}