footer{
	height: 2.5em;
    color: #fff;
    text-align: center;
    line-height: 3em;
    font-size: 0.85rem;
    background-color: #000;
}

footer a {
	color: #fff;
}
footer a:hover,
footer a:focus {
	color: #d00600;
	cursor: pointer;
}

footer p {
	margin: 0;
}